Repository cinc-project/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, build:docker-auditor:x86_64, build:docker-auditor:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, test:docker-auditor:x86_64, test:docker-auditor:aarch64, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, publish:docker-auditor, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu, release:docker-auditor, clean:omnibus-centos, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-ubuntu, clean:docker-auditor

Path conditions:
  build:omnibus-centos:x86_64: any of: omnibus-centos/*
  build:omnibus-centos:aarch64: any of: omnibus-centos/*
  build:omnibus-debian:x86_64: any of: omnibus-debian/*
  build:omnibus-debian:aarch64: any of: omnibus-debian/*
  build:omnibus-opensuse:x86_64: any of: omnibus-opensuse/*
  build:omnibus-opensuse:aarch64: any of: omnibus-opensuse/*
  build:omnibus-ubuntu:x86_64: any of: omnibus-ubuntu/*
  build:omnibus-ubuntu:aarch64: any of: omnibus-ubuntu/*
  build:docker-auditor:x86_64: any of: docker-auditor/*
  build:docker-auditor:aarch64: any of: docker-auditor/*
  test:omnibus-centos:x86_64: any of: omnibus-centos/*
  test:omnibus-centos:aarch64: any of: omnibus-centos/*
  test:omnibus-debian:x86_64: any of: omnibus-debian/*
  test:omnibus-debian:aarch64: any of: omnibus-debian/*
  test:omnibus-opensuse:x86_64: any of: omnibus-opensuse/*
  test:omnibus-opensuse:aarch64: any of: omnibus-opensuse/*
  test:omnibus-ubuntu:x86_64: any of: omnibus-ubuntu/*
  test:omnibus-ubuntu:aarch64: any of: omnibus-ubuntu/*
  test:docker-auditor:x86_64: any of: docker-auditor/*
  test:docker-auditor:aarch64: any of: docker-auditor/*
  publish:omnibus-centos: any of: omnibus-centos/*
  publish:omnibus-debian: any of: omnibus-debian/*
  publish:omnibus-opensuse: any of: omnibus-opensuse/*
  publish:omnibus-ubuntu: any of: omnibus-ubuntu/*
  publish:docker-auditor: any of: docker-auditor/*
  release:omnibus-centos: any of: omnibus-centos/*
  release:omnibus-debian: any of: omnibus-debian/*
  release:omnibus-opensuse: any of: omnibus-opensuse/*
  release:omnibus-ubuntu: any of: omnibus-ubuntu/*
  release:docker-auditor: any of: docker-auditor/*
  clean:omnibus-centos: any of: omnibus-centos/*
  clean:omnibus-debian: any of: omnibus-debian/*
  clean:omnibus-opensuse: any of: omnibus-opensuse/*
  clean:omnibus-ubuntu: any of: omnibus-ubuntu/*
  clean:docker-auditor: any of: docker-auditor/*

Update tests for the version of omnibus-toolchain
  test/integration/omnibus_spec.rb
Due: none

Ensure we set the locale
  omnibus-centos/Dockerfile
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, publish:omnibus-centos, release:omnibus-centos, clean:omnibus-centos

Install glibc-locale-source which is needed on EL8 to set the locale
  omnibus-centos/Dockerfile
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, publish:omnibus-centos, release:omnibus-centos, clean:omnibus-centos

Ensure /opt/cinc is wiped
  omnibus-amazonlinux/Dockerfile
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu, clean:omnibus-centos, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-ubuntu

Update docker-auditor to 4.38.9
  docker-auditor/Dockerfile
  docker-auditor/Dockerfile.ppc64le
Due: build:docker-auditor:x86_64, build:docker-auditor:aarch64, test:docker-auditor:x86_64, test:docker-auditor:aarch64, publish:docker-auditor, release:docker-auditor, clean:docker-auditor

Add workaround for kernel bug
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-opensuse/ruby-docker-copy-patch.rb
Due: build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, publish:omnibus-opensuse, release:omnibus-opensuse, clean:omnibus-opensuse

Add ruby workaround for kernel bug globally on all omnibus builds
  omnibus-amazonlinux/Dockerfile
  omnibus-amazonlinux/ruby-docker-copy-patch.rb
  omnibus-centos/Dockerfile
  omnibus-centos/ruby-docker-copy-patch.rb
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-debian/ruby-docker-copy-patch.rb
  omnibus-opensuse/Dockerfile
  omnibus-ubuntu/Dockerfile
  omnibus-ubuntu/ruby-docker-copy-patch.rb
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu, clean:omnibus-centos, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-ubuntu

Debian 11
  .gitlab-ci.yml
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  scripts/common.sh
Due: build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, publish:omnibus-debian, release:omnibus-debian, clean:omnibus-debian

Build on OpenSUSE 15.2 instead of 15.3
  .gitlab-ci.yml
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  scripts/common.sh
Due: build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, publish:omnibus-opensuse, release:omnibus-opensuse, clean:omnibus-opensuse

Install time zone package
  omnibus-amazonlinux/Dockerfile
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu, clean:omnibus-centos, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-ubuntu

Install omnibus-toolchain 2.1.20
  omnibus-amazonlinux/Dockerfile
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu, clean:omnibus-centos, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-ubuntu

Remove omnibus-centos:8 and create omnibus-centos-stream:8
  .gitlab-ci.yml
  omnibus-centos-stream/Dockerfile
  omnibus-centos-stream/fix-repos.sh
  omnibus-centos-stream/ruby-docker-copy-patch.rb
  scripts/common.sh
Due: none

Use OpenJDK 17 on Ubuntu 20.04
  omnibus-ubuntu/Dockerfile
  scripts/common.sh
Due: build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-ubuntu, release:omnibus-ubuntu, clean:omnibus-ubuntu

Install hostname to make sure cinc-solo works
  omnibus-centos-stream/Dockerfile
Due: none

Test fixes
  test/integration/omnibus-centos-stream_spec.rb
  test/integration/omnibus_spec.rb
Due: none

Re-add aarch64 on omnibus-ubuntu:18.04
  scripts/common.sh
Due: none

Create omnibus-rhel s390x image
  .gitlab-ci.yml
  omnibus-rhel/Dockerfile
  omnibus-rhel/fix-repos.sh
  omnibus-rhel/ruby-docker-copy-patch.rb
  scripts/common.sh
  scripts/release.sh
  test/integration/omnibus-rhel_spec.rb
Due: none

Ubuntu 20.04 omnibus image
  .gitlab-ci.yml
  omnibus-ubuntu/Dockerfile
  scripts/common.sh
Due: build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-ubuntu, release:omnibus-ubuntu, clean:omnibus-ubuntu

Amazon Linux 2022
  omnibus-amazonlinux/Dockerfile
  scripts/common.sh
  test/integration/omnibus_spec.rb
Due: none

Ensure we have automake installed
  omnibus-amazonlinux/Dockerfile
  omnibus-centos-stream/Dockerfile
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-rhel/Dockerfile
  omnibus-ubuntu/Dockerfile
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu, clean:omnibus-centos, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-ubuntu

Disable interactive prompts on Debian-based systems
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile
Due: build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-debian, publish:omnibus-ubuntu, release:omnibus-debian, release:omnibus-ubuntu, clean:omnibus-debian, clean:omnibus-ubuntu

Add image for CentOS Stream 9
  .gitlab-ci.yml
  omnibus-centos-stream/Dockerfile
  omnibus-centos-stream/fix-repos.sh
  scripts/common.sh
  test/integration/omnibus_spec.rb
Due: none

Build on POWER9 for EL9
  .gitlab-ci.yml
Due: none

Create new vagrant-virtualbox image for testing Cinc Server
  .gitlab-ci.yml
  scripts/common.sh
  test/integration/vagrant-virtualbox_spec.rb
  vagrant-virtualbox/Dockerfile
Due: none

Ensure we have the ssh client installed
  test/integration/vagrant-virtualbox_spec.rb
  vagrant-virtualbox/Dockerfile
Due: none

Switch to using cinc-omnibus cookbook
  .gitlab-ci.yml
  omnibus-amazonlinux/Berksfile
  omnibus-amazonlinux/Dockerfile
  omnibus-amazonlinux/ruby-docker-copy-patch.rb
  omnibus-centos-stream/Berksfile
  omnibus-centos-stream/Dockerfile
  omnibus-centos-stream/fix-repos.sh
  omnibus-centos-stream/ruby-docker-copy-patch.rb
  omnibus-centos/Berksfile
  omnibus-centos/Dockerfile
  omnibus-centos/fix-repos.sh
  omnibus-centos/ruby-docker-copy-patch.rb
  omnibus-debian/Berksfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-debian/ruby-docker-copy-patch.rb
  omnibus-opensuse/Berksfile
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-opensuse/ruby-docker-copy-patch.rb
  omnibus-rhel/Berksfile
  omnibus-rhel/Dockerfile
  omnibus-ubuntu/Berksfile
  omnibus-ubuntu/Dockerfile
  omnibus-ubuntu/ruby-docker-copy-patch.rb
  scripts/build.sh
  scripts/common.sh
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu, clean:omnibus-centos, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-ubuntu

Fix this logic so we can do manual builds
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

fix
  scripts/build.sh
Due: none

Fix
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none
