Repository cinc-project/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:omnibus-almalinux, build:omnibus-amazonlinux, build:omnibus-debian, build:omnibus-opensuse, build:omnibus-rockylinux, build:omnibus-ubuntu, build:docker-auditor, build:vagrant-virtualbox, publish:omnibus-almalinux, publish:omnibus-amazonlinux, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-rockylinux, publish:omnibus-ubuntu, publish:docker-auditor, publish:vagrant-virtualbox

Path conditions:
  build:omnibus-almalinux: any of: omnibus-almalinux/*
  build:omnibus-amazonlinux: any of: omnibus-amazonlinux/*
  build:omnibus-debian: any of: omnibus-debian/*
  build:omnibus-opensuse: any of: omnibus-opensuse/*
  build:omnibus-rockylinux: any of: omnibus-rockylinux/*
  build:omnibus-ubuntu: any of: omnibus-ubuntu/*
  build:docker-auditor: any of: docker-auditor/*
  build:vagrant-virtualbox: any of: vagrant-virtualbox/*
  publish:omnibus-almalinux: any of: omnibus-almalinux/*
  publish:omnibus-amazonlinux: any of: omnibus-amazonlinux/*
  publish:omnibus-debian: any of: omnibus-debian/*
  publish:omnibus-opensuse: any of: omnibus-opensuse/*
  publish:omnibus-rockylinux: any of: omnibus-rockylinux/*
  publish:omnibus-ubuntu: any of: omnibus-ubuntu/*
  publish:docker-auditor: any of: docker-auditor/*
  publish:vagrant-virtualbox: any of: vagrant-virtualbox/*

Switch to using OpenSUSE 15.3
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/docker-bake.hcl
Due: build:omnibus-opensuse, publish:omnibus-opensuse

Switch to using AlmaLinux 10 proper
  omnibus-almalinux/docker-bake.hcl
Due: build:omnibus-almalinux, publish:omnibus-almalinux

Remove internal references to kitten
  omnibus-almalinux/docker-bake.hcl
Due: build:omnibus-almalinux, publish:omnibus-almalinux

Create vagrant-only image
  .gitlab-ci.yml
  vagrant/Dockerfile
  vagrant/docker-bake.hcl
Due: none

vagrant: install rsync
  vagrant/Dockerfile
Due: none

kmod is needed for vagrant
  vagrant/Dockerfile
Due: none

Add Rocky 10 support
  .gitlab-ci.yml
  omnibus-rockylinux/Dockerfile
  omnibus-rockylinux/docker-bake.hcl
Due: build:omnibus-rockylinux, publish:omnibus-rockylinux

Also add to publish
  .gitlab-ci.yml
Due: none

Add ppc64le P9 builder on rocky
  .gitlab-ci.yml
Due: none

Add git package to all omnibus images
  omnibus-almalinux/Dockerfile
  omnibus-amazonlinux/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-opensuse/Dockerfile
  omnibus-rockylinux/Dockerfile
  omnibus-ubuntu/Dockerfile
Due: build:omnibus-almalinux, build:omnibus-amazonlinux, build:omnibus-debian, build:omnibus-opensuse, build:omnibus-rockylinux, build:omnibus-ubuntu, publish:omnibus-almalinux, publish:omnibus-amazonlinux, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-rockylinux, publish:omnibus-ubuntu

Add ci-test Docker image for cinc-server CI
  .gitlab-ci.yml
  ci-test/Dockerfile
  ci-test/docker-bake.hcl
Due: none

Fix elvis installation in ci-test image
  ci-test/Dockerfile
Due: none

Refactor omnibus-* images for cinc-omnibus 3.x and align platforms
  .gitlab-ci.yml
  omnibus-almalinux/Dockerfile
  omnibus-almalinux/docker-bake.hcl
  omnibus-amazonlinux/Berksfile
  omnibus-amazonlinux/Dockerfile
  omnibus-amazonlinux/docker-bake.hcl
  omnibus-debian/Berksfile
  omnibus-debian/Dockerfile
  omnibus-debian/docker-bake.hcl
  omnibus-opensuse/Berksfile
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/docker-bake.hcl
  omnibus-rockylinux/Berksfile
  omnibus-rockylinux/Dockerfile
  omnibus-rockylinux/docker-bake.hcl
  omnibus-ubuntu/Berksfile
  omnibus-ubuntu/Dockerfile
  omnibus-ubuntu/docker-bake.hcl
  shared/omnibus/Berksfile
  shared/omnibus/cinc-omnibus-docker/metadata.rb
  shared/omnibus/cinc-omnibus-docker/recipes/default.rb
Due: build:omnibus-almalinux, build:omnibus-amazonlinux, build:omnibus-debian, build:omnibus-opensuse, build:omnibus-rockylinux, build:omnibus-ubuntu, publish:omnibus-almalinux, publish:omnibus-amazonlinux, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-rockylinux, publish:omnibus-ubuntu

ci: fall back to QEMU emulation when a builder node is offline
  .gitlab-ci.yml
  scripts/append-builder.sh
Due: none

Add omnibus-windows builder image
  .gitlab-ci.yml
  README.md
  omnibus-windows/.dockerignore
  omnibus-windows/.gitattributes
  omnibus-windows/Dockerfile
  omnibus-windows/README.md
  omnibus-windows/build.ps1
  omnibus-windows/files/build-helpers.ps1
  omnibus-windows/files/load-omnibus-toolchain.ps1
  omnibus-windows/files/msys2-signing-key.asc
  omnibus-windows/runner-config.example.toml
  omnibus-windows/test/concurrency.ps1
  omnibus-windows/test/fork-stress.sh
  omnibus-windows/test/openssl-build.sh
Due: none

Point omnibus-debian:latest at Debian 13
  omnibus-debian/docker-bake.hcl
Due: build:omnibus-debian, publish:omnibus-debian
