Repository cinc-project/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:omnibus-amazonlinux:x86_64, build:omnibus-amazonlinux:aarch64, build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-centos:ppc64le, build:omnibus-centos-stream:x86_64, build:omnibus-centos-stream:aarch64, build:omnibus-centos-stream:ppc64le, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-rhel:s390x, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, build:docker-auditor:x86_64, build:docker-auditor:aarch64, build:docker-auditor:ppc64le, build:vagrant-virtualbox:x86_64, test:omnibus-amazonlinux:x86_64, test:omnibus-amazonlinux:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-centos:ppc64le, test:omnibus-centos-stream:x86_64, test:omnibus-centos-stream:aarch64, test:omnibus-centos-stream:ppc64le, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-rhel:s390x, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, test:docker-auditor:x86_64, test:docker-auditor:aarch64, test:docker-auditor:ppc64le, test:vagrant-virtualbox:x86_64, publish:omnibus-amazonlinux, publish:omnibus-centos, publish:omnibus-centos-stream, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-rhel, publish:omnibus-ubuntu, publish:docker-auditor, publish:vagrant-virtualbox, release:omnibus-amazonlinux, release:omnibus-centos, release:omnibus-centos-stream, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-rhel, release:omnibus-ubuntu, release:docker-auditor, release:vagrant-virtualbox, clean:omnibus-amazonlinux, clean:omnibus-centos, clean:omnibus-centos-stream, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-rhel, clean:omnibus-ubuntu, clean:docker-auditor, clean:vagrant-virtualbox

Path conditions:
  build:omnibus-amazonlinux:x86_64: any of: omnibus-amazonlinux/*
  build:omnibus-amazonlinux:aarch64: any of: omnibus-amazonlinux/*
  build:omnibus-centos:x86_64: any of: omnibus-centos/*
  build:omnibus-centos:aarch64: any of: omnibus-centos/*
  build:omnibus-centos:ppc64le: any of: omnibus-centos/*
  build:omnibus-centos-stream:x86_64: any of: omnibus-centos-stream/*
  build:omnibus-centos-stream:aarch64: any of: omnibus-centos-stream/*
  build:omnibus-centos-stream:ppc64le: any of: omnibus-centos-stream/*
  build:omnibus-debian:x86_64: any of: omnibus-debian/*
  build:omnibus-debian:aarch64: any of: omnibus-debian/*
  build:omnibus-opensuse:x86_64: any of: omnibus-opensuse/*
  build:omnibus-opensuse:aarch64: any of: omnibus-opensuse/*
  build:omnibus-rhel:s390x: any of: omnibus-rhel/*
  build:omnibus-ubuntu:x86_64: any of: omnibus-ubuntu/*
  build:omnibus-ubuntu:aarch64: any of: omnibus-ubuntu/*
  build:docker-auditor:x86_64: any of: omnibus-docker-auditor/*
  build:docker-auditor:aarch64: any of: omnibus-docker-auditor/*
  build:docker-auditor:ppc64le: any of: omnibus-docker-auditor/*
  build:vagrant-virtualbox:x86_64: any of: omnibus-vagrant-virtualbox/*
  test:omnibus-amazonlinux:x86_64: any of: omnibus-amazonlinux/*
  test:omnibus-amazonlinux:aarch64: any of: omnibus-amazonlinux/*
  test:omnibus-centos:x86_64: any of: omnibus-centos/*
  test:omnibus-centos:aarch64: any of: omnibus-centos/*
  test:omnibus-centos:ppc64le: any of: omnibus-centos/*
  test:omnibus-centos-stream:x86_64: any of: omnibus-centos-stream/*
  test:omnibus-centos-stream:aarch64: any of: omnibus-centos-stream/*
  test:omnibus-centos-stream:ppc64le: any of: omnibus-centos-stream/*
  test:omnibus-debian:x86_64: any of: omnibus-debian/*
  test:omnibus-debian:aarch64: any of: omnibus-debian/*
  test:omnibus-opensuse:x86_64: any of: omnibus-opensuse/*
  test:omnibus-opensuse:aarch64: any of: omnibus-opensuse/*
  test:omnibus-rhel:s390x: any of: omnibus-rhel/*
  test:omnibus-ubuntu:x86_64: any of: omnibus-ubuntu/*
  test:omnibus-ubuntu:aarch64: any of: omnibus-ubuntu/*
  test:docker-auditor:x86_64: any of: omnibus-docker-auditor/*
  test:docker-auditor:aarch64: any of: omnibus-docker-auditor/*
  test:docker-auditor:ppc64le: any of: omnibus-docker-auditor/*
  test:vagrant-virtualbox:x86_64: any of: omnibus-vagrant-virtualbox/*
  publish:omnibus-amazonlinux: any of: omnibus-amazonlinux/*
  publish:omnibus-centos: any of: omnibus-centos/*
  publish:omnibus-centos-stream: any of: omnibus-centos-stream/*
  publish:omnibus-debian: any of: omnibus-debian/*
  publish:omnibus-opensuse: any of: omnibus-opensuse/*
  publish:omnibus-rhel: any of: omnibus-rhel/*
  publish:omnibus-ubuntu: any of: omnibus-ubuntu/*
  publish:docker-auditor: any of: omnibus-docker-auditor/*
  publish:vagrant-virtualbox: any of: omnibus-vagrant-virtualbox/*
  release:omnibus-amazonlinux: any of: omnibus-amazonlinux/*
  release:omnibus-centos: any of: omnibus-centos/*
  release:omnibus-centos-stream: any of: omnibus-centos-stream/*
  release:omnibus-debian: any of: omnibus-debian/*
  release:omnibus-opensuse: any of: omnibus-opensuse/*
  release:omnibus-rhel: any of: omnibus-rhel/*
  release:omnibus-ubuntu: any of: omnibus-ubuntu/*
  release:docker-auditor: any of: omnibus-docker-auditor/*
  release:vagrant-virtualbox: any of: omnibus-vagrant-virtualbox/*
  clean:omnibus-amazonlinux: any of: omnibus-amazonlinux/*
  clean:omnibus-centos: any of: omnibus-centos/*
  clean:omnibus-centos-stream: any of: omnibus-centos-stream/*
  clean:omnibus-debian: any of: omnibus-debian/*
  clean:omnibus-opensuse: any of: omnibus-opensuse/*
  clean:omnibus-rhel: any of: omnibus-rhel/*
  clean:omnibus-ubuntu: any of: omnibus-ubuntu/*
  clean:docker-auditor: any of: docker-auditor/*
  clean:vagrant-virtualbox: any of: vagrant-virtualbox/*

fix
  .gitlab-ci.yml
Due: none

Fix this logic so we can do manual builds
  .gitlab-ci.yml
Due: none

Update vagrant-virtualbox
  .gitlab-ci.yml
  scripts/common.sh
  vagrant-virtualbox/Dockerfile
Due: clean:vagrant-virtualbox

Create ppc64le omnibus builds for Debian and Ubuntu
  .gitlab-ci.yml
  scripts/common.sh
Due: none

Add Debian 12
  .gitlab-ci.yml
  omnibus-debian/Dockerfile
  scripts/common.sh
Due: build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, publish:omnibus-debian, release:omnibus-debian, clean:omnibus-debian

Remove Debian 9 as it's EOL
  .gitlab-ci.yml
  scripts/common.sh
Due: none

docker-auditor: update to Cinc Auditor 5.22.3
  .gitlab-ci.yml
  docker-auditor/Dockerfile
  docker-auditor/Dockerfile.ppc64le
  scripts/common.sh
  scripts/test.sh
Due: clean:docker-auditor

Fixes for newer docker on ppc64le
  .gitlab-ci.yml
Due: none

Tighten regex
  .gitlab-ci.yml
Due: none

Add similar settings for s390x
  .gitlab-ci.yml
Due: none

Add s390x properly to docker-auditor
  .gitlab-ci.yml
  docker-auditor/Dockerfile.s390x
  scripts/common.sh
Due: clean:docker-auditor

Add Rocky Linux container images
  .gitlab-ci.yml
  omnibus-rockylinux/Berksfile
  omnibus-rockylinux/Dockerfile
  scripts/common.sh
  test/integration/omnibus-rockylinux_spec.rb
Due: none

Install new deps needed to install berks gem
  omnibus-amazonlinux/Dockerfile
  omnibus-centos-stream/Dockerfile
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-opensuse/Dockerfile
  omnibus-rhel/Dockerfile
  omnibus-rockylinux/Dockerfile
  omnibus-ubuntu/Dockerfile
Due: build:omnibus-amazonlinux:x86_64, build:omnibus-amazonlinux:aarch64, build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-centos:ppc64le, build:omnibus-centos-stream:x86_64, build:omnibus-centos-stream:aarch64, build:omnibus-centos-stream:ppc64le, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-rhel:s390x, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-amazonlinux:x86_64, test:omnibus-amazonlinux:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-centos:ppc64le, test:omnibus-centos-stream:x86_64, test:omnibus-centos-stream:aarch64, test:omnibus-centos-stream:ppc64le, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-rhel:s390x, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-amazonlinux, publish:omnibus-centos, publish:omnibus-centos-stream, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-rhel, publish:omnibus-ubuntu, release:omnibus-amazonlinux, release:omnibus-centos, release:omnibus-centos-stream, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-rhel, release:omnibus-ubuntu, clean:omnibus-amazonlinux, clean:omnibus-centos, clean:omnibus-centos-stream, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-rhel, clean:omnibus-ubuntu

Add symlink for mkdir so the ffi gem can build
  omnibus-debian/Dockerfile
Due: build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, publish:omnibus-debian, release:omnibus-debian, clean:omnibus-debian

Bump to VirtualBox 7.0
  vagrant-virtualbox/Dockerfile
Due: clean:vagrant-virtualbox

Add g++ as a new dependency required to install Berkshelf
  omnibus-amazonlinux/Dockerfile
  omnibus-centos-stream/Dockerfile
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-rhel/Dockerfile
  omnibus-rockylinux/Dockerfile
  omnibus-ubuntu/Dockerfile
Due: build:omnibus-amazonlinux:x86_64, build:omnibus-amazonlinux:aarch64, build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-centos:ppc64le, build:omnibus-centos-stream:x86_64, build:omnibus-centos-stream:aarch64, build:omnibus-centos-stream:ppc64le, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-rhel:s390x, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-amazonlinux:x86_64, test:omnibus-amazonlinux:aarch64, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-centos:ppc64le, test:omnibus-centos-stream:x86_64, test:omnibus-centos-stream:aarch64, test:omnibus-centos-stream:ppc64le, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-rhel:s390x, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-amazonlinux, publish:omnibus-centos, publish:omnibus-centos-stream, publish:omnibus-debian, publish:omnibus-rhel, publish:omnibus-ubuntu, release:omnibus-amazonlinux, release:omnibus-centos, release:omnibus-centos-stream, release:omnibus-debian, release:omnibus-rhel, release:omnibus-ubuntu, clean:omnibus-amazonlinux, clean:omnibus-centos, clean:omnibus-centos-stream, clean:omnibus-debian, clean:omnibus-rhel, clean:omnibus-ubuntu

Install gcc-c++ on OpenSUSE for Berkshelf
  omnibus-opensuse/Dockerfile
Due: build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, publish:omnibus-opensuse, release:omnibus-opensuse, clean:omnibus-opensuse

Add AlmaLinux omnibus
  omnibus-almalinux/Berksfile
  omnibus-almalinux/Dockerfile
Due: none

Add AlmaLinux omnibus
  .gitlab-ci.yml
  omnibus-almalinux/Berksfile
  omnibus-almalinux/Dockerfile
  scripts/common.sh
  test/integration/omnibus-almalinux_spec.rb
Due: none

Add AmazonLinux 2023 images
  .gitlab-ci.yml
  omnibus-amazonlinux/Dockerfile
  scripts/common.sh
Due: build:omnibus-amazonlinux:x86_64, build:omnibus-amazonlinux:aarch64, test:omnibus-amazonlinux:x86_64, test:omnibus-amazonlinux:aarch64, publish:omnibus-amazonlinux, release:omnibus-amazonlinux, clean:omnibus-amazonlinux

Fix regex
  .gitlab-ci.yml
Due: none

Fix regex again
  .gitlab-ci.yml
Due: none

Enable aarch64 builds of amazonlinux 2023
  .gitlab-ci.yml
  scripts/common.sh
Due: none

Add Ubuntu 24.04 image
  .gitlab-ci.yml
  omnibus-ubuntu/Dockerfile
  scripts/common.sh
Due: build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-ubuntu, release:omnibus-ubuntu, clean:omnibus-ubuntu

Set USER and LOGNAME so that vagrant works properly
  vagrant-virtualbox/Dockerfile
Due: clean:vagrant-virtualbox

Remove EOL platforms
  .gitlab-ci.yml
  omnibus-centos-stream/Dockerfile
  omnibus-centos/Berksfile
  omnibus-centos/Dockerfile
  scripts/common.sh
Due: build:omnibus-centos:x86_64, build:omnibus-centos:aarch64, build:omnibus-centos:ppc64le, build:omnibus-centos-stream:x86_64, build:omnibus-centos-stream:aarch64, build:omnibus-centos-stream:ppc64le, test:omnibus-centos:x86_64, test:omnibus-centos:aarch64, test:omnibus-centos:ppc64le, test:omnibus-centos-stream:x86_64, test:omnibus-centos-stream:aarch64, test:omnibus-centos-stream:ppc64le, publish:omnibus-centos, publish:omnibus-centos-stream, release:omnibus-centos, release:omnibus-centos-stream, clean:omnibus-centos, clean:omnibus-centos-stream

Remove EOL AmazonLinux platforms
  .gitlab-ci.yml
  scripts/common.sh
Due: none

Add AlmaLinux 10 Kitten image
  .gitlab-ci.yml
  scripts/common.sh
Due: none

Refactor to use buildx with bake hcl
  .gitlab-ci.yml
  docker-auditor/Dockerfile
  docker-auditor/Dockerfile.ppc64le
  docker-auditor/Dockerfile.s390x
  docker-auditor/docker-bake.hcl
  omnibus-almalinux/docker-bake.hcl
  omnibus-amazonlinux/docker-bake.hcl
  omnibus-centos-stream/Berksfile
  omnibus-centos-stream/Dockerfile
  omnibus-debian/docker-bake.hcl
  omnibus-opensuse/docker-bake.hcl
  omnibus-rhel/Berksfile
  omnibus-rhel/Dockerfile
  omnibus-rhel/fix-repos.sh
  omnibus-rhel/ruby-docker-copy-patch.rb
  omnibus-rockylinux/docker-bake.hcl
  omnibus-ubuntu/docker-bake.hcl
  scripts/build.sh
  scripts/clean.sh
  scripts/common.sh
  scripts/docker-login.sh
  scripts/publish.sh
  scripts/release.sh
  test/integration/docker-auditor_spec.rb
  test/integration/omnibus-almalinux_spec.rb
  test/integration/omnibus-amazonlinux_spec.rb
  test/integration/omnibus-centos-stream_spec.rb
  test/integration/omnibus-centos_spec.rb
  test/integration/omnibus-debian_spec.rb
  test/integration/omnibus-opensuse_spec.rb
  test/integration/omnibus-rhel_spec.rb
  test/integration/omnibus-rockylinux_spec.rb
  test/integration/omnibus-ubuntu_spec.rb
  test/integration/omnibus_spec.rb
  test/integration/vagrant-virtualbox_spec.rb
  vagrant-virtualbox/Dockerfile
  vagrant-virtualbox/docker-bake.hcl
Due: build:omnibus-amazonlinux:x86_64, build:omnibus-amazonlinux:aarch64, build:omnibus-centos-stream:x86_64, build:omnibus-centos-stream:aarch64, build:omnibus-centos-stream:ppc64le, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-rhel:s390x, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-amazonlinux:x86_64, test:omnibus-amazonlinux:aarch64, test:omnibus-centos-stream:x86_64, test:omnibus-centos-stream:aarch64, test:omnibus-centos-stream:ppc64le, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-rhel:s390x, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-amazonlinux, publish:omnibus-centos-stream, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-rhel, publish:omnibus-ubuntu, release:omnibus-amazonlinux, release:omnibus-centos-stream, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-rhel, release:omnibus-ubuntu, clean:omnibus-amazonlinux, clean:omnibus-centos-stream, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-rhel, clean:omnibus-ubuntu, clean:docker-auditor, clean:vagrant-virtualbox

Switch to using native buildx builders
  .gitlab-ci.yml
  buildkitd.toml
  omnibus-amazonlinux/docker-bake.hcl
Due: build:omnibus-amazonlinux:x86_64, build:omnibus-amazonlinux:aarch64, test:omnibus-amazonlinux:x86_64, test:omnibus-amazonlinux:aarch64, publish:omnibus-amazonlinux, release:omnibus-amazonlinux, clean:omnibus-amazonlinux

Only do build stage with merge requests
  .gitlab-ci.yml
Due: none

Switch to sh
  scripts/docker-login.sh
Due: none

Set amazon to use v8.2a
  .gitlab-ci.yml
Due: none

Add riscv64 builds for debian and ubuntu
  .gitlab-ci.yml
  omnibus-debian/docker-bake.hcl
  omnibus-ubuntu/docker-bake.hcl
Due: build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-debian, publish:omnibus-ubuntu, release:omnibus-debian, release:omnibus-ubuntu, clean:omnibus-debian, clean:omnibus-ubuntu

Update to latest opensuse 15.6
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/docker-bake.hcl
Due: build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, publish:omnibus-opensuse, release:omnibus-opensuse, clean:omnibus-opensuse

Fix docker-auditor to use correct gem
  docker-auditor/Dockerfile
  docker-auditor/Gemfile
Due: clean:docker-auditor

Ensure we update the latest tag on all omnibus images
  omnibus-almalinux/docker-bake.hcl
  omnibus-amazonlinux/docker-bake.hcl
  omnibus-debian/docker-bake.hcl
  omnibus-opensuse/docker-bake.hcl
  omnibus-rockylinux/docker-bake.hcl
  omnibus-ubuntu/docker-bake.hcl
Due: build:omnibus-amazonlinux:x86_64, build:omnibus-amazonlinux:aarch64, build:omnibus-debian:x86_64, build:omnibus-debian:aarch64, build:omnibus-opensuse:x86_64, build:omnibus-opensuse:aarch64, build:omnibus-ubuntu:x86_64, build:omnibus-ubuntu:aarch64, test:omnibus-amazonlinux:x86_64, test:omnibus-amazonlinux:aarch64, test:omnibus-debian:x86_64, test:omnibus-debian:aarch64, test:omnibus-opensuse:x86_64, test:omnibus-opensuse:aarch64, test:omnibus-ubuntu:x86_64, test:omnibus-ubuntu:aarch64, publish:omnibus-amazonlinux, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-amazonlinux, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu, clean:omnibus-amazonlinux, clean:omnibus-debian, clean:omnibus-opensuse, clean:omnibus-ubuntu
