Repository cinc-project/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:omnibus-centos, build:omnibus-debian, build:omnibus-opensuse, build:omnibus-ubuntu, test:omnibus-centos, test:omnibus-debian, test:omnibus-opensuse, test:omnibus-ubuntu, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu

Path conditions:
  build:omnibus-centos: any of: omnibus-centos/*
  build:omnibus-debian: any of: omnibus-debian/*
  build:omnibus-opensuse: any of: omnibus-opensuse/*
  build:omnibus-ubuntu: any of: omnibus-ubuntu/*
  test:omnibus-centos: any of: omnibus-centos/*
  test:omnibus-debian: any of: omnibus-debian/*
  test:omnibus-opensuse: any of: omnibus-opensuse/*
  test:omnibus-ubuntu: any of: omnibus-ubuntu/*
  publish:omnibus-centos: any of: omnibus-centos/*
  publish:omnibus-debian: any of: omnibus-debian/*
  publish:omnibus-opensuse: any of: omnibus-opensuse/*
  publish:omnibus-ubuntu: any of: omnibus-ubuntu/*
  release:omnibus-centos: any of: omnibus-centos/*
  release:omnibus-debian: any of: omnibus-debian/*
  release:omnibus-opensuse: any of: omnibus-opensuse/*
  release:omnibus-ubuntu: any of: omnibus-ubuntu/*

Fix opensuse image
  omnibus-opensuse/Dockerfile
Due: build:omnibus-opensuse, test:omnibus-opensuse, publish:omnibus-opensuse, release:omnibus-opensuse

Add clean stage
  .gitlab-ci.yml
  scripts/clean.sh
Due: none

Ensure we use on_success for publish/release stages
  .gitlab-ci.yml
Due: none

Use DEPLOY_TOKEN instead
  scripts/clean.sh
Due: none

Properly fail if we have an issue and improve output
  scripts/clean.sh
Due: none

Use the correct script for release stage
  .gitlab-ci.yml
Due: none

Misc fixes for release.sh to get it to work properly
  scripts/release.sh
Due: none

docker-auditor image
  docker-auditor/Dockerfile
Due: none

Build pipeline for docker-auditor image
  .gitlab-ci.yml
  test/integration/docker-auditor_spec.rb
Due: none

Properly deal with semver versions
  scripts/release.sh
Due: none

Add aarch64 (arm64) images for docker-auditor
  .gitlab-ci.yml
  docker-auditor/Dockerfile
  scripts/clean.sh
  scripts/common.sh
  scripts/publish.sh
Due: none

Silent output from curl
  scripts/clean.sh
Due: none

Create omnibus images for aarch64
  .gitlab-ci.yml
  scripts/common.sh
Due: none

Additional fixes for aarch64
  omnibus-centos/fix-repos.sh
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile.aarch64
  scripts/build.sh
Due: build:omnibus-centos, build:omnibus-debian, build:omnibus-opensuse, build:omnibus-ubuntu, test:omnibus-centos, test:omnibus-debian, test:omnibus-opensuse, test:omnibus-ubuntu, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu

BaseOS for aarch64 is the same as x86_64
  omnibus-centos/fix-repos.sh
Due: build:omnibus-centos, test:omnibus-centos, publish:omnibus-centos, release:omnibus-centos

Only run tests on archs and platforms we support
  scripts/test.sh
Due: none

Ensure cleaning always happens
  .gitlab-ci.yml
Due: none

Lock version to 2.0.2 on some aarch64 platforms
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile.aarch64
  test/integration/omnibus_spec.rb
Due: build:omnibus-debian, build:omnibus-opensuse, build:omnibus-ubuntu, test:omnibus-debian, test:omnibus-opensuse, test:omnibus-ubuntu, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu

Ensure we actually need to test the platform+arch
  scripts/clean.sh
Due: none

Use strings, not vars
  test/integration/omnibus_spec.rb
Due: none

Include common.sh
  scripts/clean.sh
Due: none

Add arch support to publish/release scripts
  scripts/publish.sh
  scripts/release.sh
Due: none

Set string we expect instead of using another var
  .gitlab-ci.yml
Due: none

Set more vars
  .gitlab-ci.yml
Due: none

Surround in single quotes
  .gitlab-ci.yml
Due: none

Fix typo
  scripts/common.sh
Due: none

Ensure CINC_BUILD is set
  .gitlab-ci.yml
Due: none

Create symlink for mkdir in /usr/bin
  omnibus-debian/Dockerfile.aarch64
Due: build:omnibus-debian, test:omnibus-debian, publish:omnibus-debian, release:omnibus-debian

Install JDK for building Cinc Server
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile
  omnibus-ubuntu/Dockerfile.aarch64
  scripts/build.sh
  scripts/common.sh
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos, build:omnibus-debian, build:omnibus-opensuse, build:omnibus-ubuntu, test:omnibus-centos, test:omnibus-debian, test:omnibus-opensuse, test:omnibus-ubuntu, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu

Amazon Linux 2 omnibus image
  .gitlab-ci.yml
  omnibus-amazonlinux/Dockerfile
  scripts/common.sh
  test/integration/omnibus-amazonlinux_spec.rb
  test/integration/omnibus_spec.rb
Due: none

Ensure jar is installed on CentOS and OpenSUSE
  omnibus-centos/Dockerfile
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos, build:omnibus-opensuse, test:omnibus-centos, test:omnibus-opensuse, publish:omnibus-centos, publish:omnibus-opensuse, release:omnibus-centos, release:omnibus-opensuse

Install rpm-build package on AmazonLinux images
  omnibus-amazonlinux/Dockerfile
Due: none

Update to Cinc Auditor 4.22.0 and add ppc64le images
  .gitlab-ci.yml
  docker-auditor/Dockerfile.ppc64le
  scripts/common.sh
Due: none

Add ppc64le to omnibus-centos 7 & 8
  .gitlab-ci.yml
  omnibus-centos/Dockerfile
  scripts/common.sh
Due: build:omnibus-centos, test:omnibus-centos, publish:omnibus-centos, release:omnibus-centos

Ensure we have en_US.utf8 locale installed
  omnibus-centos/Dockerfile
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos, test:omnibus-centos, publish:omnibus-centos, release:omnibus-centos

Ensure we have en_US.utf8 locale installed
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile
  omnibus-ubuntu/Dockerfile.aarch64
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos, build:omnibus-debian, build:omnibus-ubuntu, test:omnibus-centos, test:omnibus-debian, test:omnibus-ubuntu, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-ubuntu

Update to omnibus-toolchain 2.0.5
  omnibus-amazonlinux/Dockerfile
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile
  omnibus-ubuntu/Dockerfile.aarch64
  test/integration/omnibus_spec.rb
Due: build:omnibus-centos, build:omnibus-debian, build:omnibus-opensuse, build:omnibus-ubuntu, test:omnibus-centos, test:omnibus-debian, test:omnibus-opensuse, test:omnibus-ubuntu, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu

Misc fixes for CentOS 6 & 8
  omnibus-centos/fix-repos.sh
Due: build:omnibus-centos, test:omnibus-centos, publish:omnibus-centos, release:omnibus-centos

Update omnibus images
  .gitlab-ci.yml
  omnibus-amazonlinux/Dockerfile
  omnibus-centos/Dockerfile
  omnibus-debian/Dockerfile
  omnibus-debian/Dockerfile.aarch64
  omnibus-opensuse/Dockerfile
  omnibus-opensuse/Dockerfile.aarch64
  omnibus-ubuntu/Dockerfile
  omnibus-ubuntu/Dockerfile.aarch64
  scripts/common.sh
Due: build:omnibus-centos, build:omnibus-debian, build:omnibus-opensuse, build:omnibus-ubuntu, test:omnibus-centos, test:omnibus-debian, test:omnibus-opensuse, test:omnibus-ubuntu, publish:omnibus-centos, publish:omnibus-debian, publish:omnibus-opensuse, publish:omnibus-ubuntu, release:omnibus-centos, release:omnibus-debian, release:omnibus-opensuse, release:omnibus-ubuntu

Use needs so we can test individual platforms as they pass building
  .gitlab-ci.yml
Due: none
